/code/clas 3/Attributes/nbproject/private/
/code/clas 3/Attributes/build/
/code/clas 3/app_Transacciones/nbproject/private/
/code/clss4/ciclos/nbproject/private/
/code/clss4/ciclos/build/
/Practice/practice_2/appPractica_2/nbproject/private/
/Practice/practice_2/appPractica_2/build/