/code/clas 3/Attributes/nbproject/private/
/code/clas 3/Attributes/build/
/code/clas 3/app_Transacciones/nbproject/private/
/code/clss4/ciclos/nbproject/private/
/code/clss4/ciclos/build/
/Practice/practice_2/appPractica_2/nbproject/private/
/Practice/practice_2/appPractica_2/build/
/Practice/practice_2/switch/nbproject/private/
/code/clss5/Switch/switch/nbproject/private/
/code/clss5/Switch/switch/build/
/Practice/practice_3/Switch/PracticaSwitch/nbproject/private/
/Practice/practice_3/Switch/PracticaSwitch/build/
/code/Clss6/Cadena de carateres/JavaApplication15/nbproject/private/
/code/Clss6/Cadena de carateres/JavaApplication15/build/
/code/Clss6/Cadena de carateres/clss_8/nbproject/private/
/code/clss8/Practica de cadenas String/clss_8/nbproject/private/
/code/clss8/Practica de cadenas String/clss_8/build/
/code/clss9/Areglos/clss_9/nbproject/private/
/code/clss9/Areglos/clss_9/build/
/code/clss8/cadenas de String/clss_8/build/
/code/clss8/cadenas de String/clss_8/nbproject/private/